nav {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 3rem;
  align-items: center;

}

a{
    text-decoration: none;
    color: #000000;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}
.nav-link-item {
  color: var(--muted-foreground);
  text-decoration: none;
  transition: color 0.35s ease-out;
}
.nav-link-item:hover {
  color: var(--foreground);
}
.nav-action-btns {
  display: flex;
  gap: 0.7rem;
}

.btn {
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
}
.primary-btn {
  background-color: var(--primary);
  color: var(--background);
  border: none;
}
.secondary-btn {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  color: var(--muted-foreground);
}

@media (max-width: 590px) {
  nav {
    padding: 1.8rem 1rem;
  }

  .nav-links {
    gap: 0.8rem;
  }

  .nav-link-item {
    font-size: 0.8rem;
  }

  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 12px;
  }

  .nav-action-btns {
    gap: 0.3rem;
  }
}
