.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 6rem 3rem;
    border: 1px solid var(--primary);
    border-radius: 8px;
    gap: 0.6rem;
    box-shadow: 12px 12px var(--border);
}

.signupLink a{
    text-decoration: none;
    color: var(--muted-foreground);
}

.signupLink a:hover {
    text-decoration: underline;
    color: var(--foreground);
}